body {
  background-color: #ffffff;
  width: 1440px;
  font-family: sans-serif;

}
.container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: auto ;
  justify-content: space-between;
}

h1 {
  width: 800px;
  margin: 50px auto;
  padding-left: 265px;
}

div {

}
img {
   width: 17rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.info {
  text-align: center;

}

h2 {
  text-align: center;
  text-transform: capitalize;
  text-decoration: underline;
  text-decoration-color: green;
  text-transform: uppercase;
}

a{
  text-transform: capitalize;
  text-align: center;
  padding-left: 40px;
  font-size: 13px;
}

div .social{
  text-align: center;
margin-top: 7PX;
margin-top: 30px;
margin-bottom: 35px;
margin-right: 9px;
}

div.info{
  letter-spacing: 3px;
  line-height: 1.4;
  margin-top: 37px;
  font-size: 13px;
}
